In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('1990_2000_authorships.csv')

In [3]:
df =df[['author','id_article']].groupby('author',as_index=False).count()

In [4]:
df = df[df['id_article']>2]

In [5]:
df = df.reset_index(drop=True)

In [6]:
df.to_csv('nodes_catalogue')

                   author  id_article
0              A Min Tjoa          38
1               A-Rum Jun           3
2      A. A. (Louis) Beex          10
3        A. A. Abouelsoud           3
4              A. A. Ball           4
...                   ...         ...
93907          Ülle Kotta           3
93908         Ümit Aygölü           5
93909          Ümit Bilge           3
93910  Ümit V. Çatalyürek           3
93911        Ümit Özgüner          17

[93912 rows x 2 columns]