In [1]:
import pandas as pd
df_authors_pubs = pd.read_csv('1990_2000_filtered_authorships.csv')

from collections import defaultdict
dict_authors_pubs =defaultdict(list)
for index, row in df_authors_pubs.iterrows():
    dict_authors_pubs[row['id_article']].append(row['author'])

list_edges = []
list_edges.append("source,target\n")

for id_article, list_authors in dict_authors_pubs.items():
    for i in range(0,len(list_authors)):
        for j in range(i+1,len(list_authors)):
            list_edges.append(str(list_authors[i]).strip()+","+str(list_authors[j]).strip()+"\n")

with open("1990_2000_edges.csv", "w") as f:
        for renglon in list_edges:
                f.write(renglon)

print("edges_90_00.csv Ready")

edges_90_00.csv Ready

In [2]:
import pandas as pd

In [3]:
pd.read_csv('1990_2000_edges.csv')

                    source               target
0               Dario Bini        Victor Y. Pan
1            Andreas Stein  Horst Günter Zimmer
2        George E. Collins      Werner Krandick
3             Saugata Basu      Richard Pollack
4             Saugata Basu  Marie-Françoise Roy
...                    ...                  ...
656243        Valeriu Beiu      Joos Vandewalle
656244        Valeriu Beiu      Rudy Lauwereins
656245  J. A. Peperstraete      Joos Vandewalle
656246  J. A. Peperstraete      Rudy Lauwereins
656247     Joos Vandewalle      Rudy Lauwereins

[656248 rows x 2 columns]